---
import Layout from "../../layouts/Layout.astro";
import AssociazioneCard from "../../components/AssociazioneCard.astro";
import logo_la_quercia from "../../assets/chi-sosteniamo/la_quercia.png";
import laleka1 from "../../assets/chi-sosteniamo/LELEKA1.png";
import laleka2 from "../../assets/chi-sosteniamo/LELEKA2.png";
import bluefamily from "../../assets/chi-sosteniamo/blue_family.jpg";
import les from "../../assets/chi-sosteniamo/les.png";
import PageHeader from "../../components/PageHeader.astro";
---

<Layout title="Chi sosteniamo 2023">
    <main class="max-w-4xl mx-auto py-12 px-4 space-y-8">
        <PageHeader title="2023" />

        <AssociazioneCard
            title="LELEKA Foundation"
            image={{
                src: laleka1.src,
                alt: "LELEKA Foundation",
                layout: "top",
            }}
            description="L’attività principale di Leleka è fornire forniture di primo soccorso tattico moderno e di alta qualità ai difensori ucraini, ai medici sul campo e alle squadre di emergenza; si tratta di zaini medici ben forniti e altri dispositivi rari per i medici di prima linea."
            socials={{
                website: "https://www.leleka.care/",
                instagram: "https://www.instagram.com/leleka.care/",
                facebook: "https://www.facebook.com/lelekafoundation",
            }}
            extraCard={{
                image: laleka2.src,
                imageAlt: "LELEKA Foundation",
                text: "Un singolo zaino è attrezzato per salvare più di 10 vite trattando tutti i principali tipi di traumi da combattimento. Spesso i medici sul campo sono l’unica fonte di assistenza medica per i civili nelle zone di guerra.",
            }}
        />

        <AssociazioneCard
            title="LA QUERCIA APS"
            image={{
                src: logo_la_quercia.src,
                alt: "LA QUERCIA APS",
                layout: "left",
            }}
            description="L’Associazione di Famiglie LA QUERCIA APS nata nel 1990 e 
      costituita formalmente nel 1991 ha come scopo il sostegno alla disabilità. 
      COSA LA CONTRADDISTINGUE ? La spontaneità dei rapporti e la centralità della persona 
      disabile e della sua famiglia nelle attività educative, ricreative e di volontariato."
            socials={{
                website: "http://associazionelaquercia.it/",
                instagram: "https://www.instagram.com/la.quercia/",
                facebook:
                    "https://www.facebook.com/laquerciaonlus/?locale=it_IT",
            }}
        />

        <AssociazioneCard
            title="Associazione Blue Family Onlus"
            image={{
                src: bluefamily.src,
                alt: "Associazione Blue Family Onlus",
                layout: "left",
            }}
            description="L'associazione ha come obiettivo il miglioramento della qualità della vita delle persone con autismo e delle loro famiglie, in coerenza con le definizioni internazionali ufficiali sull'autismo e disturbo generalizzato dello sviluppo (ICD e DSM)
Raggruppa famiglie con bambini e ragazzi con lo spettro autistimo con l' obiettivo di condividere il percorso di crescita dei propri figli e delle famiglie.
Si opera per reperire fondi che permettano di sostenere le attività abilitative a favore dei bambini/ragazzi appartenenti all'associazione. Le proposte sono studiate in collaborazione con un' educativa esperta nel settore.
Promuovere momenti formativi sul territorio con l' obiettivo di diffondere e sensibilizzare sul tema dell' autismo.
Fare rete con le altre associazioni sul territorio."
            socials={{
                email: "associazionebluefamily@gmail.com",
                facebook:
                    "https://www.facebook.com/bluefamilyonlus/?locale=it_IT",
            }}
        />

        <AssociazioneCard
            title="Gruppo LES Italiano ODV"
            image={{
                src: les.src,
                alt: "Gruppo LES Italiano ODV",
                layout: "right",
            }}
            description="E’ un’organizzazione di volontariato (ODV) di supporto per persone affette da LES.
            Il Gruppo LES Italiano - costituito a Piacenza nel giugno del 1987 per iniziativa di un gruppo di pazienti, ONLUS di diritto dal 1997 al 2019 - opera senza scopi di lucro per creare un punto di riferimento sul Lupus, una malattia poco conosciuta, di cui si legge e si parla molto poco, pur essendo una delle malattie autoimmuni più diffuse e più insidiose."
            socials={{
                website: "https://www.lupus-italy.org/p/gruppoles.html",
                instagram: "https://www.instagram.com/gruppo_les_italiano/",
                facebook:
                    "https://www.facebook.com/people/Gruppo-LES-Italiano-ODV/100064817705614/",
            }}
        />
    </main>
</Layout>
