---
import Layout from "../../layouts/Layout.astro";
import AssociazioneCard from "../../components/AssociazioneCard.astro";
import logo_la_quercia from "../../assets/chi-sosteniamo/la_quercia.png";
import bluefamily from "../../assets/chi-sosteniamo/blue_family.jpg";
import associazione_vittoria from "../../assets/chi-sosteniamo/associazione_vittoria.png";
import scuola_2025 from "../../assets/chi-sosteniamo/scuola_2025.jpg";
import PageHeader from "../../components/PageHeader.astro";
---

<Layout title="Chi sosteniamo 2023">
    <main class="max-w-4xl mx-auto py-12 px-4 space-y-8">
        <PageHeader title="2025" />
        <AssociazioneCard
            title="Associazione VITTORIA"
            image={{
                src: associazione_vittoria.src,
                alt: "Associazione VITTORIA",
                layout: "top",
            }}
            description="L’Associazione Vittoria ETS nasce nel 2015 in memoria di Vittoria, una bambina scomparsa a causa di un neuroblastoma. I suoi genitori e amici decidono di trasformare il dolore in impegno, unendosi per aiutare i bambini affetti da tumori pediatrici e le loro famiglie. L’obiettivo dell’associazione è offrire accoglienza, affetto e un sostegno concreto, diventando un punto di riferimento vicino e affidabile, capace di alleviare la solitudine e le difficoltà quotidiane. Pur non essendo medici, i volontari vogliono sostenere la ricerca e stare accanto a chi combatte la malattia, con la speranza di contribuire ai progressi nella cura delle neoplasie pediatriche."
            socials={{
                website: "https://www.associazionevittoriaets.it/",
                instagram:
                    "https://www.instagram.com/associazione_vittoria_onlus",
                facebook: "https://www.facebook.com/associazionevittoriaonlus/",
            }}
        />
        <AssociazioneCard
            title="LA QUERCIA APS"
            image={{
                src: logo_la_quercia.src,
                alt: "LA QUERCIA APS",
                layout: "left",
            }}
            description="Dal 1991 vicini alle persone disabili e alle loro famiglie.Era il 1990 e alcune famiglie magentine sentirono il bisogno di associarsi, «unite da un comune destino» per trovare nuove strade per il sostegno alla disabilità e per farsi forza reciprocamente. Nel febbraio del 1991 si costituirono Associazione, riconosciuta presso il Registro del Volontariato lombardo e il Registro delle Associazioni familiari.La Quercia è stata ONLUS fino al 2020 quando l’Assemblea dei Soci ha votato all’unanimità il nuovo Statuto in qualità di Ente di Terzo Settore e la registrazione al RUNTS come Associazione di Promozione Sociale.Ciò che contraddistingue l’Associazione di famiglie La Quercia è la spontaneità dei rapporti e la centralità della persona disabile e della sua famiglia nelle attività educative, ricreative e di volontariato."
            socials={{
                website: "http://associazionelaquercia.it/",
                instagram: "https://www.instagram.com/la.quercia/",
                facebook:
                    "https://www.facebook.com/laquerciaonlus/?locale=it_IT",
            }}
        />

        <AssociazioneCard
            title="Associazione Blue Family Onlus"
            image={{
                src: bluefamily.src,
                alt: "Associazione Blue Family Onlus",
                layout: "left",
            }}
            description="L'associazione ha come obiettivo il miglioramento della qualità della vita delle persone con autismo e delle loro famiglie, in coerenza con le definizioni internazionali ufficiali sull'autismo e disturbo generalizzato dello sviluppo (ICD e DSM)
Raggruppa famiglie con bambini e ragazzi con lo spettro autistimo con l' obiettivo di condividere il percorso di crescita dei propri figli e delle famiglie.
Si opera per reperire fondi che permettano di sostenere le attività abilitative a favore dei bambini/ragazzi appartenenti all'associazione. Le proposte sono studiate in collaborazione con un' educativa esperta nel settore.
Promuovere momenti formativi sul territorio con l' obiettivo di diffondere e sensibilizzare sul tema dell' autismo.
Fare rete con le altre associazioni sul territorio."
            socials={{
                email: "associazionebluefamily@gmail.com",
                facebook:
                    "https://www.facebook.com/bluefamilyonlus/?locale=it_IT",
            }}
        />

        <AssociazioneCard
            title="Scuole del nostro Comune"
            image={{
                src: scuola_2025.src,
                alt: "Scuole del nostro Comune",
                layout: "left",
            }}
            description="Con grande gioia abbiamo effettuato una donazione di materiale scolastico, musicale e sportivo alle scuole del nostro territorio. Questo gesto nasce dal desiderio di sostenere i bambini e i ragazzi nel loro percorso di crescita, offrendo strumenti utili all’apprendimento, alla creatività e al movimento. Crediamo che la scuola sia un luogo fondamentale non solo per l’istruzione, ma anche per la condivisione, l’inclusione e lo sviluppo dei talenti di ciascuno. Attraverso questa donazione vogliamo dare un piccolo ma concreto aiuto alle famiglie e agli insegnanti, affinché ogni studente possa sentirsi accolto e valorizzato. La musica, lo sport e lo studio sono occasioni preziose per esprimersi, stare insieme e costruire il futuro con entusiasmo e fiducia. Ringraziamo le scuole per l’accoglienza e la collaborazione, con l’augurio che questo contributo possa portare sorrisi, nuove opportunità e momenti di serenità tra i banchi di scuola."
        />
    </main>
</Layout>
