---
import Layout from "../layouts/Layout.astro";
import Splitsection from "../components/Splitsection.astro";
import gerusco1 from "../assets/GERUSCO1.jpg";
import gerusco2 from "../assets/GERUSCO2.jpg";
import gerusco3 from "../assets/GERUSCO3.jpg";
import gerusco4 from "../assets/GERUSCO4.jpg";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Chi Siamo">
  <!--div>
        <Title title="Gruppo Giovani Gerusco" 
            subtitle='Associazione Gerusco' 
            align="center" 
           />
    </div-->
  <PageHeader
    title="Gruppo Giovani"
    highlight="Gerusco"
    subtitle="Associazione Gerusco"
  />
  <Splitsection image={gerusco1.src} imageAlt="Description" reverse>
    <p>
      Sono i primi anni duemila e il punk Italiano sta vivendo la sua seconda
      giovinezza. Sulla scia dell' entusiasmo, un gruppo di giovani visionari
      robecchesi decide di organizzare un festival musicale che ne colga
      l'essenza.
    </p>
    <p>
      È il 2001 e dalle ceneri de "L'Urlo", concorso musicale itinerante per
      band emergenti, nasce il Gruppo Giovani Gerusco. La festa trova la sua
      prima dimora nel vecchio palazzetto dello sport di Robecco sul Naviglio.
    </p>
    <p>
      Nel giro di qualche anno l' evento diventa un punto di riferimento per
      tutti gli amanti del punk-rock: su un piccolo palco di periferia iniziano
      ad esibirsi le più influenti band della scena italiana.
    </p>
  </Splitsection>

  <Splitsection image={gerusco2.src} imageAlt="Description">
    <p>
      Con il passare del tempo il festival inizia a richiamare un numero sempre
      più ampio di appassionati, ma anche di persone e famiglie che vedono nella
      Festa del Gerusco un momento di aggregazione e di divertimento.
    </p>
    <p>
      Il gruppo trova allora un appoggio organizzativo nella Pro Loco di Robecco
      sul Naviglio, con cui ancora oggi collabora; questo permetterà di
      aumentare la durata dell'evento e di ampliare la proposta musicale.
    </p>
    <p>
      Grazie alla sempre maggiore partecipazione di pubblico nel 2012 nasce
      l'Associazione Gerusco, caratterizzata dall'elezione di un consiglio
      direttivo e dalla presenza di soci sostenitori. Con il nuovo assetto
      organizzativo cambia anche la location della festa: viene abbandonato il
      palazzetto cittadino per approdare nel meraviglioso parco di Villa
      Terzaghi, luogo che tutt' ora ospita il festival estivo dell'
      associazione.
    </p>
  </Splitsection>

  <Splitsection image={gerusco3.src} imageAlt="Description" reverse>
    <p>
      Sul suo palco si esibiscono artisti dal respiro internazionale come i
      canadesi The Mahones o gli italianissimi Omar Pedrini, Linea 77, Rumatera,
      Tre Allegri Ragazzi Morti e Corveleno.
    </p>
    <p>
      Negli anni l' associazione ha dato vita a tutta una serie di eventi che
      sono diventati con il tempo un appuntamento fisso per l' ovest milanese.
    </p>
    <p>
      Tra questi l'ormai iconico "Rocktoberfest", che prevede due weekend di
      musica e divertimento in pieno stile bavarese. O l'ultimo nato "Gerusco
      Street Food Festival": una rassegna di cibo di strada arricchita da
      spettacoli e concerti, in concomitanza con la Fiera di San Majolo.
    </p>
  </Splitsection>

  <Splitsection image={gerusco4.src} imageAlt="Description">
    <p>
      Inoltre l'associazione prende parte all' annuale Notte Bianca, organizzata
      dal comune di Robecco sul Naviglio, animando la serata con eventi a tema e
      musica dal vivo.
    </p>
    <p>
      Con il ricavato dei propri eventi l'Associazione Gerusco sostiene alcune
      realtà di volontariato e associazioni presenti sul territorio del
      magentino.
    </p>
    <p>
      Nel 2024 ha installato una fontanella nel Parco pubblico di Borgo Archinto
      a Robecco sul Naviglio e l'anno successivo ha donato materiale didattico e
      sportivo alle scuole presenti sul territorio comunale.
    </p>
  </Splitsection>
</Layout>
