---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import Social from "../components/Social.astro";
---

<Layout title="Contatti - Gerusco">
  <main class="bg-zinc-50 min-h-screen pb-20">
    <PageHeader
      title="Entra in"
      highlight="Contatto"
      subtitle="Hai domande sull'evento, vuoi diventare volontario o hai bisogno di info tecniche? Siamo qui per te."
    />

    <section class="max-w-7xl mx-auto px-6 py-16">
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
        <div class="lg:col-span-7 space-y-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div
              class="bg-white p-8 rounded-[2rem] border border-zinc-200 shadow-sm hover:border-[#ff6f00] transition-all group"
            >

              <h3
                class="text-xs uppercase tracking-widest font-black text-zinc-400 mb-2"
              >
                Scrivici a
              </h3>
              <p class="text-xl font-bold break-all">info@gerusco.it</p>
              <a
                href="mailto:info@gerusco.it"
                class="inline-block mt-4 text-[#ff6f00] font-black uppercase text-[10px] tracking-widest hover:underline"
                >Invia Email ↗</a
              >
            </div>

          </div>

          <div
            class="bg-zinc-900 rounded-[2.5rem] p-10 text-white relative overflow-hidden"
          >
            <div class="relative z-10">
              <h3
                class="text-3xl md:text-5xl font-black uppercase tracking-tighter mb-6 italic"
              >
                Seguici per i <br />
                <span class="text-[#ff6f00]">Live Update</span>
              </h3>
              <Social color="text-orange" size={50} />
            </div>
            <div
              class="absolute -bottom-10 -right-10 text-zinc-800 font-black text-9xl select-none"
            >
              @
            </div>
          </div>
        </div>


      </div>
    </section>

    <section class="max-w-4xl mx-auto px-6 py-20 text-center">
      <h2
        class="text-4xl md:text-6xl font-black uppercase tracking-tighter text-zinc-400"
      >
        Ci vediamo al Gerusco!
      </h2>
    </section>
  </main>
</Layout>
