---
import Layout from "../layouts/Layout.astro";
import Splitsection from "../components/Splitsection.astro";
import curaebea from "../assets/cura-e-bea.jpg";
import Social from "../components/Social.astro";
import Button from "../components/Button.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Cura & Bea">
  <PageHeader title="Cura &" highlight="Bea" subtitle="Corri a tutta Birra!" />
  <Splitsection
    image={curaebea.src}
    imageAlt="Description"
    body="Nell’ambito della festa del Gerusco a Robecco sul Naviglio è ormai diventata tradizione la Cura & Bea, organizzata in collaborazione con il Tapascione Running Team che apre la kermesse."
    reverse
  >
    <Social size={50} />
    <p>
      Cerca altri tre amici e avventurati in questa competizione a squadre unica
      nel suo genere! Su di un percorso prevalentemente cittadino di 1,150 km i
      4 componenti di ogni TEAM, a turno dovranno correre il più forte
      possibile, ma solo dopo avere bevuto 33 cl. di birra e dopo aver ricevuto
      il testimone dal compagno precedente.
    </p>
    <p>
      Le staffette potranno essere maschili, femminili, miste o a tema
      (mascherati). Sarà tra l’altro possibile partecipare alla gara in
      “solitaria” compiendo tutte e quattro le frazioni e bevendo le quattro
      lattine. A fine gara verrano premiate le prime squadre classificate di
      ogni categoria e i primi singoli.
    </p>

    <Button href="/curaebea/iscrizione">
      <span>Iscriviti</span>
    </Button>
  </Splitsection>
</Layout>
