---
import Layout from "../layouts/Layout.astro";
import Splitsection from "../components/Splitsection.astro";
import streetfood from "../assets/street-food.jpg";
import Social from "../components/Social.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Gerusco Street Food Festival">
  <PageHeader
    title="Gerusco"
    highlight="Street Food Festival"
    subtitle="Truck con cibo da tutto il mondo"
  />
  <Splitsection
    image={streetfood.src}
    imageAlt="Description"
    body="Il gerusco street food festival (GSFF), è un evento pensato e creato in concomitanza con la Fiera San Majolo di Robecco sul Naviglio."
    reverse
  >
    <Social size={50} />
    <p>
      Durante questa fiera dell' agricoltura e del commercio, l' associazione ha
      voluto creare uno spazio dove cibo musica e divertimento s'intrecciano
      creando un connubio unico nell' arco dei giorni. Truck con cibo da tutto
      il mondo, musicisti che accompagnano e fanno ballare per tutta la sera
      hanno fatto si che il GSFF è ormai un appuntamento fisso e tanto atteso da
      tutti coloro che seguono Gerusco!
    </p>
  </Splitsection>
</Layout>
