---
import Layout from "../layouts/Layout.astro";

import SaveTheDate from "../components/SaveTheDate.astro";
import rocktoberfest from "../assets/rocktoberfest.jpg";
import festadelgerusco from "../assets/festa-del-gerusco.jpg";
import streetfood from "../assets/street-food.jpg";
import curaebea from "../assets/cura-e-bea.jpg";
import { Image } from "astro:assets";
import gruppo from "../assets/gruppo_2018.jpg";
import fontanella2 from "../assets/per-il-paese/fontanella2.jpg";
import gerusco1 from "../assets/GERUSCO1.jpg";
---

<Layout title="Gerusco">
  <main>
    <SaveTheDate />


    <div
      class="max-w-6xl /* Larghezza massima della foto */
    mx-auto /* Centra la foto orizzontalmente */
    m-2 /* Margine inferiore per staccarla da ciò che segue */
    
    
    bg-white /* Sfondo bianco, fa da cornice */
    p-4 /* Padding interno, crea il bordo bianco attorno all'immagine */
    rounded-lg /* Angoli leggermente arrotondati */
    shadow-xl /* Ombra pronunciata per l'effetto staccato dal muro */
    border border-gray-200 /* Un sottile bordo grigio per definire meglio la cornice */"
    >
      <Image
        src={gruppo}
        alt="Il Gruppo"
        class="rounded /* Arrotonda anche gli angoli dell'immagine stessa */
        w-full /* L'immagine occupa tutto lo spazio interno disponibile */
        h-auto /* Mantiene le proporzioni */
        object-cover /* Copre l'area senza deformarsi (utile se definisci un'altezza) */
        aspect-[16/9] /* Opzionale: forza una proporzione (es. 16:9) */"
      />
    </div>
  </main>
</Layout>
