---
import Layout from "../layouts/Layout.astro";
import Splitsection from "../components/Splitsection.astro";
import rocktoberfest from "../assets/rocktoberfest.jpg";
import Social from "../components/Social.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="RocktoberFest">
  <PageHeader
    title="Rocktober"
    highlight="Fest"
    subtitle="Festival in stile bavarese."
  />
  <Splitsection
    image={rocktoberfest.src}
    imageAlt="Description"
    body="Se siete appassionati del luppolo, affascinati dalle tradizioni bavaresi o entusiasti che hanno voglia di divertirsi non potete assolutamente perdervi il ROCKTOBERFEST"
    reverse
  >
    <Social size={50} />
    <p>
      Festival in stile bavarese che nasce nel 2019 per rendere omaggio a una
      delle feste europee più amate di sempre. Un doppio weekend di musica,
      folklore e buona cucina che vi faranno sentire in Baviera. La proposta
      culinaria vanta una selezione di piatti tipici della tradizione, dagli
      antipasti ai dolci; il tutto ben accompagnato da copiosi fiumi di birra
      tedesca. A scaldare queste serate ottobrine ci pensano invece band
      festaiole che propongono, sul palco della rassegna, concerti live che
      assomigliano a dei veri e propri spettacoli. Chi è passato da queste parti
      gli ultimi weekend di ottobre pare ne sia rimasto folgorato.
    </p>
  </Splitsection>
</Layout>
