---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo_con_papero from "../assets/logo_e_papero_gerusco.png";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Soci">
  <PageHeader
    title="Perchè"
    highlight=" Associarsi?"
    subtitle="Diventa socio di Gerusco APS"
  />

  <div class="min-h-screen flex items-center justify-center bg-gray-50 p-6">
    <div
      class="flex flex-col md:flex-row items-center justify-center gap-12 max-w-5xl"
    >
      <div class="flex-1">
        <!--h2 class="text-3xl font-bold mb-6 text-gray-800">I nostri vantaggi</h2-->
        <ul class="space-y-4">
          <li
            class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-xl border border-gray-100"
          >
            <span class="text-blue-500">✔</span>
            <span class="text-gray-700 font-medium"
              >Sostenere i costi, i progetti e gli scopi di Associazione GERUSCO</span
            >
          </li>
          <li
            class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-xl border border-gray-100"
          >
            <span class="text-blue-500">✔</span>
            <span class="text-gray-700 font-medium">QR code univoco</span>
          </li>
          <li
            class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-xl border border-gray-100"
          >
            <span class="text-blue-500">✔</span>
            <span class="text-gray-700 font-medium">Un gadget in omaggio</span>
          </li>
          <li
            class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-xl border border-gray-100"
          >
            <span class="text-blue-500">✔</span>
            <span class="text-gray-700 font-medium"
              >Consumazione omaggio ogni evento</span
            >
          </li>
          <li
            class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-xl border border-gray-100"
          >
            <span class="text-blue-500">✔</span>
            <span class="text-gray-700 font-medium">Raccolta punti</span>
          </li>
          <li
            class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-xl border border-gray-100"
          >
            <span class="text-blue-500">✔</span>
            <span class="text-gray-700 font-medium"
              >Copertura assicurativa in fase operativa</span
            >
          </li>
        </ul>
      </div>

      <div class="flex-1">
        <Image
          src={logo_con_papero}
          alt="Descrizione immagine"
          class="rounded-2xl shadow-2xl w-full h-auto object-cover"
          width={500}
          height={400}
        />
      </div>
    </div>
  </div>
</Layout>
