---
import Title from '../components/Title.astro';

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import PageHeader from '../components/PageHeader.astro';
interface Props {
  img1: ImageMetadata;
  img2?: ImageMetadata;
  img3?: ImageMetadata;
  titolo?: string;
}

const { img1, img2, img3, titolo} = Astro.props;

const pagine = [img1, img2, img3].filter(Boolean) as ImageMetadata[];
---


  <div class="max-w-4xl mx-auto px-4 py-8">
        <PageHeader 
  title="menu" 
/>
    <h1 class="text-4xl font-black uppercase italic mb-6"></h1>
    {pagine.map((img, i) => (
      <Image 
        src={img} 
        alt={`${titolo} - pagina ${i + 1}`}
        class="w-full h-auto rounded-xl shadow-lg mb-6"
      />
    ))}
  </div>
</Layout>