<div class="flex justify-center w-full py-2">
  <div class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title">Affluenza stimata</div>
      <div class="stat-value text-secondary">20.000</div>
      <div class="stat-desc text-secondary">Persone l' anno</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Volontari</div>
      <div class="stat-value">50</div>
      <div class="stat-desc">Nello Staff operativo</div>
    </div>
  </div>
</div>

<div class="flex justify-center w-full py-2">
  <div class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title">Eventi</div>
      <div class="stat-value">4</div>
      <div class="stat-desc">All' anno</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title"></div>
      <div class="stat-value text-secondary">140</div>
      <div class="stat-desc text-secondary">Associati</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Edizioni</div>
      <div class="stat-value">22</div>
      <div class="stat-desc">Del Festival</div>
    </div>

  </div>
</div>
