---
interface Props {
  variant?: 'simple' | 'bold' | 'icon';
  class?: string;
}

const { variant = 'simple', class: className } = Astro.props;
---
<!--Separator variant="bold" />       <Separator variant="bold" class="mx-0 my-8" />  <Separator variant="icon" /-->

{variant === 'simple' && (
  <hr class:list={["my-12 border-t-2 border-zinc-100", className]} />
)}

{variant === 'bold' && (
  <hr class:list={["my-16 h-2 w-24 bg-[#ff6f00] border-none rounded-full mx-auto", className]} />
)}

{variant === 'icon' && (
  <div class:list={["relative flex py-12 items-center w-full", className]}>
    <div class="flex-grow border-t-2 border-zinc-100"></div>
    <div class="flex-shrink mx-4 bg-zinc-100 p-2 rounded-xl">
        <svg class="w-4 h-4 text-zinc-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
            <path d="M12 5v14M5 12h14"/>
        </svg>
    </div>
    <div class="flex-grow border-t-2 border-zinc-100"></div>
  </div>
)}