<div class="flex justify-center w-full py-10">
<span class="text-rotate text-7xl">
  <span class="justify-items-center">
    <p class="font-sans">GENTE</p>
    <span>RUMORI</span>
    <span>SCOPERTE</span>
    <span>GERUSCO</span>
  </span>
</span>
</div>